// EMPTY LIST
.orders-empty {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  > div {
    margin-top: 15px;
  }
}

.orders-empty-headers {
  text-align: center;
}

.orders-empty-emoji {
  height: 70px;
  width: 70px;
  font-size: 42px;
  padding: 10px;
  border: 1px solid $elliot-color-grey-border;
  border-radius: $elliot-border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
}

// FULL LIST
.orders-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .table-row-item {
    flex: 1 0 20%;
  }

  @include sm-screen {
    .table-row-item:nth-of-type(2),
    .table-row-item:nth-of-type(3),
    .table-row-item:nth-of-type(5) {
      display: none;
    }

    .table-row-item:nth-of-type(1),
    .table-row-item:nth-of-type(4) {
      flex-basis: 50%;
    }
  }
}

s {
  color: $elliot-color-failure;
}

.completed,
.cancelled,
.pending,
.refunded {
  @include rounded-border;
  padding: 2px 6px;
}

.completed {
  color: rgb(255, 255, 255);
  background-color: $elliot-color-success;
}

.cancelled {
  color: rgb(255, 255, 255);
  background-color: $elliot-color-failure;
}

.pending,
.refunded {
  color: rgb(0, 0, 0);
  background-color: $elliot-color-background;
}

.order-sku-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  .table {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .table-row {
    display: flex;
    flex-direction: row;
    padding: 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: -20px;
    }
  }
  .order-product-info {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .table-row-item {
    padding: 0;
    flex-grow: 1;
    .sku-attributes {
      font-size: 12px;
    }

    @include sm-screen {
      margin-bottom: 20px;
    }
  }

  .table-row-item:first-child {
    width: 70px;
  }
  .table-row-item:nth-of-type(2) {
    justify-content: flex-start;
  }
  .table-row-item:nth-of-type(3) {
    justify-content: center;

    @include sm-screen {
      justify-content: flex-start;
    }
  }
  .table-row-item:nth-of-type(4) {
    justify-content: flex-end;
    @include sm-screen {
      justify-content: flex-start;
    }
  }
  .table-row-item:not(:first-child) {
    width: calc((100% - 70px) * 0.3);
    @include sm-screen {
      width: 100%;
    }
  }
}

.order-details-headline-desc {
  margin: 0px -5px -5px -5px;
  display: flex;
  align-items: center;
  color: $elliot-color-grey;
  @include sm-screen {
    flex-direction: column;
    align-items: flex-start;
  }
  div {
    margin: 5px;
  }
  > span {
    margin: 5px;
    i {
      margin-right: 8px;
    }
  }
  a {
    color: inherit;
  }
}

.drop-down {
  cursor: pointer;
}

.order-info {
  display: flex;
  @include sm-screen {
    flex-direction: column;
    margin-bottom: -20px;
  }
  .order-info-child {
    flex-grow: 1;
    @include sm-screen {
      margin-bottom: 20px;
    }
  }
}

.print-table {
  display: none;
}

.print {
  padding: 30px;
  .print-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    .headline-print {
      @include sm-screen {
        flex-direction: row;
        align-items: center;
        width: 100%;
      }
    }

    .order-product-info {
      flex-direction: column;
    }
    .sku-attributes {
      width: 100%;
    }
  }
}

.headline {
  font-size: 26px;
  .status {
    font-size: 12px;
    line-height: 18px;
  }
}
